
<div class="seccion-container column-center">
<h1>ABOUT US</h1>
<div>
<h2>Cocktail lab</h2>
<img src="">
</div>
<div>
    <p>Cocktail lab is a project developed by Pablo G&T. and Kostas Aslanidis during the Ironhack Web Development bootcamp in February 2023.
        Our aim was to create a fully functional guide for people that work behind and around the bar. 
        In just a week we succeeded in developing a tool, or let's just say an open encyclopedia for cocktails.
        In a few easy steps the user has the ability to submit and modify his own creations.
        Additionally he/she ? has the option to look for inspiration in a vast catalog of classic cocktails and save them into the profile for any given purpose.

    </p>
</div>

</div>