<div class="index-container">
    <div class="col-1-index in-left">
        <h1 class="index-title">The <br> Barteders's <br> Club</h1>
    </div>
    <div class="col-2-index in-right">
        <% if (typeof session === 'undefined') { %>
        <div class="column-center box-container">
            <h2 class="box-title">Welcome </h2>
            <div class="btn-container ">
                <a href="/user/login" class="index-btn btn-login">Login</a>
                <a href="/user/signup" class="index-btn btn-signup">Register</a>
            </div>
        </div>
        <% } %>
    </div>
</div>
