<%- include('./navbar.ejs'), { session } %>
<div class="seccion-container column-center">
    <div class="index-container">
        <div class="col-1-index in-left">
            <h1 class="index-title"><span class="error-message">T</span>he <br> <span class="error-message">C</span>ocktail <br> <span class="error-message">L</span>ab</h1>
        </div>
        <div class="col-2-index">
            <% if (typeof session === 'undefined') { %>
            <div class="column-center box-container in-right">
                <h2 class="box-title">Welcome </h2>
                <div class="btn-container ">
                    <a href="/user/login" class="index-btn btn-login">Log In</a>
                    <a href="/user/signup" class="index-btn btn-signup">Register</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="about-container">
        <p class="about-text hide" id="about">Cocktail Lab is a project developed by Pablo G T. and Kostas Aslanidis during the Ironhack Web Development bootcamp in February 2023.
         <br><br><br> Our aim was to create a fully functional guide for people that work behind and around the bar. In just a week we succeeded in developing a tool, or let's just say an open encyclopedia for cocktails. 
         <br><br><br> In a few easy steps the user has the ability to submit and modify his own creations. Additionally he/she ? has the option to look for inspiration in a vast catalog of classic cocktails and save them into the profile for any given purpose.</p>
    </div>
</div>