<div class="container column-center">
<h1>Barteders's Club</h1>
<% if (typeof session === 'undefined') { %>
<div class="column-center index-container">
    <h2 class="index-subtitle">Welcome </h2>
    <div class="btn-container ">
        <a href="/user/login" class="index-btn btn-login">Login</a>
        <a href="/user/signup" class="index-btn btn-signup">SignUp</a>
    </div>
</div>
<% } %>
</div>
