<%- include('./navbar.ejs'), { session } %>
<div class="seccion-container column-center">
<div class="index-container">
    <div class="col-1-index in-left">
        <h1 class="index-title"><span class="error-message">T</span>he <br> <span class="error-message">B</span>artenders's <br> <span class="error-message">C</span>lub</h1>
    </div>
    <div class="col-2-index in-right">
        <% if (typeof session === 'undefined') { %>
        <div class="column-center box-container">
            <h2 class="box-title">Welcome </h2>
            <div class="btn-container ">
                <a href="/user/login" class="index-btn btn-login">Log In</a>
                <a href="/user/signup" class="index-btn btn-signup">Register</a>
            </div>
        </div>
        <% } %>
    </div>
</div>
<div class="index-img-container img-1">
    <img src="/images/bartender1.png" alt="bartenders image" class="index-img-1" loading="lazy">
</div>
<div class="index-img-container img-2">
    <img src="/images/bartender2.png" alt="bartenders image" class="index-img-2" loading="lazy">
</div>
</div>