<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar">
      <a href='/'>Home</a>
      <ul class=" navbar-ul">
        <% if (typeof session !== 'undefined') { %>
          <li class=" navbar-link"><a href="/user/signup">Search</a></li>
          <li class=" navbar-link"><a href="/user/profile">Profile</a></li>
          <li class=" navbar-link"><a href="/user/logout">LogOut</a></li>
        <% } else { %>
        <li class=" navbar-link"><a href="/user/login">Login</a></li>
        <li class=" navbar-link"><a href="/user/signup">SignUp</a></li>
        <% } %>
        <li class=" navbar-link"><a href="#about">About</a></li>
      </ul>   
    </nav>
    <div class="container">
    <%- body %>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
