<nav class="nav-bar-container in-top">
<div class="nav-col-1">
    <a href='/'><i class="fa-solid fa-house home-icon"></i></a>
    <% if (typeof session !== 'undefined') { %>
    <i class="fa-solid fa-martini-glass-citrus martini"></i><a href="/cocktail/create">Cocktail Builder</a>
    <% } %>    
</div>
<% if (typeof session !== 'undefined') { %>
<div class="nav-col-2">
    <form method="" action="" class="navbar-form">
        <label for="search"><i class="fa-solid fa-magnifying-glass form-search"></i>
            <input type="text" name="search" id="">
        </label>
        <button type="submit" class="navbar-btn">Go</button>
    </form>
</div>
<% } %>    
<div class="nav-col-3">
    <ul class=" navbar-ul">
        <% if (typeof session !== 'undefined') { %>
        <li class=" navbar-link"><a href="/user/profile"><i class="fa-solid fa-user" class="user-icon"></i></a></li>
        <li class=" navbar-link"><a href="/user/logout">LogOut</a></li>
        <% } else if (typeof session === 'undefined') { %>
        <li class=" navbar-link"><a href="/user/login">Log In</a></li>
        <li class=" navbar-link"><a href="/user/signup">Register</a></li>
        <li class=" navbar-link"><a href="#about">About</a></li>
        <% } %>
    </ul>
</div>  
</nav>
