<div id="nav-bar" 
<% if (typeof session !== 'undefined') { %>    
    class="nav-bar-container"
<% } else { %>
    class="nav-bar-container  in-top"
<% } %>
>
<div class="nav-col-1">
    <% if (page !== "") { %>
        <a href='/'><i class="fa-solid fa-house home-icon"></i></a>
    <% } %>
    <% if (typeof session !== 'undefined') { %>
        <a href="/cocktail/create"><i class="fa-solid fa-martini-glass-citrus martini"></i><a href="/cocktail/create">Cocktail Builder</a>
    <% } %>    
</div>
<div class="nav-col-3">
    <ul class=" navbar-ul">
        <% if (typeof session !== 'undefined') { %>
        <li class="navbar-link"><a href="/cocktail/cocktails-search"><i class="fa-solid fa-magnifying-glass form-search"></i></a></li>
        <li class="navbar-link"><a href="/user/profile"><i class="fa-solid fa-user" class="user-icon"></i></a></li>
        <li class="navbar-link"><a href="/user/logout">LogOut</a></li>
        <% } else if (typeof session === 'undefined') { %>
        <li class="navbar-link"><a href="/about">About</a></li>    
        <li class="navbar-link"><a href="/user/login">Log In</a></li>
        <li class="navbar-link"><a href="/user/signup">Register</a></li>
        <li class="navbar-link"><a 
            <% if (page !== "") { %>
                href="/#about"
            <% } else {%>
                href="#about"
            <% } %>
            >About</a></li>
        <% } %>
    </ul>
</div>  
</div> 
