<h1>LogIn</h1>
<form action="/user/login" method="POST" class="signup-form">
    <label for="username">Username: 
        <input type="text" name="username" id="username" required <% if (typeof error !== 'undefined') { %> value="<%= username %>"<% } %>>
    </label>
    <label for="password">Password:
        <input type="password" name="password" id="password" required>
    </label>
    <button type="submit">LogIn</button>
    <% if (typeof error !== 'undefined')  { %> <p class="error-message"><%= error.message %></p><% } %>
</form>
