<%- include('../navbar.ejs'), { session } %>
<div class="seccion-container column-center">
<i class="fa-solid fa-martini-glass-citrus bg-martini"></i>
<div class="box-container column-center signup-container">
<h1 class="box-title">LogIn</h1>
<form action="/user/login" method="POST" class="signup-form column-center">
    <label for="username">Username: 
        <input class="signup-input" type="text" name="username" id="username" required <% if (typeof error !== 'undefined') { %> value="<%= username %>"<% } %>>
    </label>
    <label for="password">Password:
        <input class="signup-input" type="password" name="password" id="password" required>
    </label>
    <button type="submit" class="index-btn btn-login btn-box">Log In</button>
    <% if (typeof error !== 'undefined')  { %> <p class="error-message"><%= error.message %></p><% } %>
</form>
</div>
<img src="/images/bartender2.png" alt="bartenders image" class="index-img img-1" loading="lazy">
</div>
