@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Russo+One&family=Sono:wght@700&display=swap');

/****** GENERAL SETUP ******/
:root {
  --bg-color-body: #f7f7f7;
  --btn-index: #4ca9e3;
  --text-white: #e4e3e3;
  --box-container: rgba(110, 110, 110, 0.108);
  --box-shadow: rgba(86, 97, 99, 0.5);
  --box-shadow-inset: rgba(107, 108, 109, 0.5);
  --background-black: #212121;
  --input-shadow: rgba(39, 39, 39, 0.414);
  --dark-blue: #06365f;
  --light-blue: #1c5380;
}

body {
  color: var(--text-white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px 'Roboto', "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--background-black);
}

a, 
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none !important;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-container {
  padding: 5rem 2rem;
}

@media screen and (max-width: 768px) {
  .body-container {
    padding: 7rem 2rem;
  }
  }

.box-container {
  background-color: transparent;;
  box-shadow: 2px 2px 25px var(--box-shadow), 
  -2px -2px 5px var(--box-shadow),
  inset 2px 2px 15px var(--box-shadow-inset), 
  inset -2px -2px 15px var(--box-shadow-inset);
  padding: 3rem 5rem;
  border-radius: 10px;
}

.box-title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 900;
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:active,
select:-webkit-autofill:focus {
  border: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: inherit;
  color: inherit !important;
  box-shadow: 1px 1px 5px var(--input-shadow);
  outline: none;
  user-select: none;
}

/****** LAYOUT ******/
/****** NAVBAR ******/
.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem 1rem;
  border-bottom: 3px solid black;
  background-color: var(--background-black);
  color: var(--text-white);
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
}

.in-top {
  animation: in-top 1.2s ease-in;
}

@keyframes in-top {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav-col-1{
  max-width: min-content;
  min-width: max-content;
}

.nav-col-2{
  width: 100%;
  min-width: 50vw;
}

.nav-col-3 {
  max-width: min-content;
  min-width: max-content;
}

.home-icon {
  margin-right: 1rem;
}

.martini {
  margin-right: .5rem;
  vertical-align: .1rem;
}

.navbar-form {
  box-shadow: 1px 1px 5px var(--input-shadow);
  width: 100%;
  position: relative;
  margin-left: 1rem;
  padding: .2rem;
}

.form-search {
  margin-left: .2rem;
}

.navbar-btn {
  border: none;
  background-color: inherit;
  color: var(--text-white);
  position: absolute;
  right: 0;
}

.navbar-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar-form input {
  box-shadow: none;
}

.navbar-link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {

  .navbar {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .nav-col-2 {
    order: 1;
  }
  .navbar-form {
    width: 90%;
    position: relative;
    margin: auto;
    padding: .2rem;
  }
}

/****** INDEX ******/

.index-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 10%;
}

@media screen and (max-width: 768px) {
  .index-container {
    grid-template-columns: 1fr;
  }
}


.index-title {
  font-family: 'Heebo', 'Russo One', sans-serif;
  font-size: 5rem;
  color: var(--text-white);
}

@media screen and (max-width: 1024px) {

  .index-container {
    gap: 1rem;
    padding: 10% 0;
  }

  .index-title {
    font-size: 3.5rem;
  }

  .index-container .box-container {
    padding: 2rem 3rem;
    border-radius: 10px;
  }
}

.in-left {
  animation: in-left .4s ease-in;
}

@keyframes in-left {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.in-right {
  animation: in-right 1.5s ease-in;
}

@keyframes in-right {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* .index-btn {
  background-color: var(--btn-index);
  border: 0 solid #E5E7EB;
  color: var(--text-white) !important;
  text-shadow: 3px 3px 5px #418ebd;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 5rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.index-btn:focus {
  outline: 0;
}

.index-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: -2px;
  left: -2px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.index-btn:hover:after {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  bottom: -1px;
  left: -1px;
} */

.index-btn {
  background: linear-gradient(#6186a6, #426b90);
  display: flex;
  color: var(--text-white) !important;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 5rem;
  border-radius: 7px;
  border: none;
  box-shadow: .7px .7px  1px var(--dark-blue), 
    -.7px -.7px 1px  var(--dark-blue),
    inset 2px 2px 15px var(--light-blue), 
    inset -2px -2px 15px var(--light-blue);
  ;
}


.btn-login {
  padding: .75rem 1.65rem;
}

.btn-signup {
  padding: .75rem 1.65rem;
  background: linear-gradient(#acdbfb79, #76b1e47e);
}


@media (min-width: 768px) {
  .index-btn {
    font-size: 1.3rem;
  }
  .btn-login {
    padding: .75rem 2.6rem;
  }
  
  .btn-signup {
    padding: .75rem 2.6rem;
  }
}

/****** SIGNUP  LOGIN ******/

.signup-container {
  width: 40vw;
  max-width: 600px;
  min-width: 250px;
}

.signup-form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
  position: relative;
}

.signup-form label {
  font-size: 1.3rem;
}

.signup-form input {
  max-width: 70%;
  width: 50%;
  height: 1.5rem;
  position: absolute;
  right: 0;
  border-radius: 2px;
  font-size: 1rem;
}

@media screen and (max-width: 700px) {
  .signup-form label {
    font-size: 1rem;
  }
  .signup-form input {
    font-size: 1rem;
  }
}

.btn-box {
  margin: auto;
  max-width: 50%;
  margin-top: 1.5em;
}

.signup-form label {
  margin-bottom: 1rem;
}

.error-message {
  color: red;
}

.edit:hover {
  cursor: pointer;
}

.profile-form input,
.profile-form select,
.profile-form textarea {
  display: none;
}

:modal {
  width: 30rem;
  border: none;
  border-radius: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#image-profile {
  cursor: pointer;
}