.recipe-card h3 {
    text-transform: capitalize;
  }
  .card-head {
    align-self: center;
    margin-bottom: 10px;
  }
  
  .recipe-card {
    background-color: black;
    box-shadow: rgba(186, 17, 17, 0.56) 0px 22px 70px 4px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .card-body {
    display: flex;
  }
  
  .card-text{
    margin-left: 25px;
    padding-right: 10px;
   }
  
  .card-text li{
    list-style-type: square;
  }
  
  .card-text h4 {
    text-align: center;
    margin: 10px;
    font-weight: normal;
    text-decoration-line: underline; 
  }